<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <div> <a class="navbar-brand" routerLink="/userpage"><i class="fa-solid fa-house"></i>
              </a>
          
        
          <div class="id"><app-cart-status>k</app-cart-status></div>
         
          
          <div>
            <app-search></app-search>
          </div>
          
      </div>
  </div>
</nav>



<div class="container mt-5 mp-5">
  <div class="row">
    <div *ngFor="let car of cars" class="col-4">
      <div class="card mb-3">
        <a routerLink="/cars/{{ car.categoryId }}">
          <img
            [src]="car.imageUrl"
            class="card-img-top"
            alt="{{ car.imageUrl }}"
            style="width: 150px"
          />
        </a>

        <div class="card-body">
          <h5 class="card-title">{{ car.model }}</h5>
          <p class="card-text">
            {{car.price_per_day| currency : "INR" }}
          </p>
          <button (click)="addToCart(car)" class="btn btn-primary btn-sm">Book</button>
        </div>
      </div>

      <div *ngIf="cars.length === 0" class="alert alert-warning col-12">
        No products found
      </div>
    </div>
  </div>
</div>

<div *ngIf="cars.length === 0" class="alert alert-warning col-12">
  No products found
</div>